flows_iotserver.json
[{"id":"bc4bb43.39904c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7fddfb51.6bbd1c","type":"tab","label":"Termostato","disabled":false,"info":""},{"id":"354011e5.cfbca6","type":"subflow","name":"confTermostato","info":"# Localización de los ficheros\nLa localización de los ficheros es /data/data/termostato/\n\nCada vez que se produzca un cambio en un fichero de ese directorio realizará la carga de ese fichero y reinicializa en entorno de la programación para el día en curso.\n\nDeben existir dos ficheros:\n### patrones.csv\nUtiliza como delimitador la coma, ejemplo de fichero:\n`patron,hora,temperatura`\n\n`normal,00:00,18.5`\n\n`normal,11:00,26`\n\n`normal,22:00,17`\n\n`festivo,00:00,18`\n\n`festivo,09:00,21`\n\n`festivo,23:00,18`\n\n### diaPatron.csv\n`dia,patron`\n\n`L,normal`\n\n`...`\n\n`V,normal`\n\n`S,festivo`\n\n`D,festivo`\n\n# Salidas\nEl subproceso deja en el contexto flow las siguientes variables:\n - patrones: Un array de objetos que contienen el nombre del patrón, la hora y la temperatura a establecer a partir de esa hora\n - diaPatron: un array con el patrón asignado a cada día de la semana, el lunes está en la componente 0.\n - today: tabla con la programación para el día en curso. Cuando se modifica cualquier fichero esta tabla se establece con el valor `undefined`, para que se vuelva a generar.\n","category":"","in":[{"x":40,"y":220,"wires":[{"id":"cb92e165.1c15e"},{"id":"893c154e.e7f208"},{"id":"6d4a21af.e8bd48"}]}],"out":[{"x":1240,"y":200,"wires":[{"id":"a2a2b769.e622b","port":0}]}],"env":[{"name":"CONF_DIR","type":"str","value":"/data/data/termostato"}],"color":"#DDAA99"},{"id":"17f2f3da.ba1ccc","type":"group","z":"7fddfb51.6bbd1c","name":"Cargar programación caldera","style":{"label":true},"nodes":["4c4520ec.45e2","1b57436e.305f25","a35502ab.e18248","103e318f.edb01e"],"x":14,"y":319,"w":672,"h":122},{"id":"bf665d9f.2572a8","type":"group","z":"7fddfb51.6bbd1c","name":"Actualizar programador","style":{"label":true},"nodes":["c6a67af3.a7748","de33ae1e.f4cdf8","672134a0.a5230c","3e01cb36.e0a90c","858bf76b.97e588","52ba65c5.6b433c","ab87f681.86dce8","d124fd53.f1084","3695ec73.dc0bb4","62a4b6de.8ebf6","3afa6369.d8ee2c","7f4f9c56.f81fe4","ee242322.bc497","a144a78f.dcce38","e13c8432.385e8","79801123.f0cab","d34c7fa3.2b94e8","c83dd403.42bab","c5496ea1.6f466","f0b2f388.631438","f6bc519b.a1de78","53638d5d.c7fb2c","2969e0e7.7dbeb8","24458863.26a218","6150a3ed.194f54","29a632ef.4e88de","261c7abe.769a56"],"x":-6,"y":499,"w":1412,"h":622},{"id":"b72374e2.0018a","type":"group","z":"7fddfb51.6bbd1c","name":"Write log","style":{"label":true},"nodes":["ff553b37.2d542","1ac5be3e.457baa","b1285280.2ada48","7880f196.0a91","abf675ce.11908","7e4312eb.f956d4","e8e314bd.a71b3","c21d85b7.3ee3b8"],"x":-6,"y":1179,"w":1032,"h":262},{"id":"dfad00fc.e2b86","type":"ui_group","name":"Almost Like Nest but Cheaper","tab":"4447df43.a3ad4","order":2,"disp":false,"width":"8","collapse":false},{"id":"1b356fb3.45e6d8","type":"mqtt-broker","d":true,"name":"devBroker","broker":"jvrnas","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4447df43.a3ad4","type":"ui_tab","name":"Termostato","icon":"dashboard","disabled":false,"hidden":false},{"id":"95182e32.4497","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bf95716a.6309c8","type":"mqtt-broker","name":"broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b4a733ba.a1dc3","type":"watch","z":"354011e5.cfbca6","name":"scan conf. termostato","files":"${IOT_DATA}/termostato","recursive":"","x":220,"y":40,"wires":[["233be1cd.af6ce6"]]},{"id":"233be1cd.af6ce6","type":"delay","z":"354011e5.cfbca6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":100,"wires":[["cb91cc44.f76588"]]},{"id":"cd321b7.7e06168","type":"comment","z":"354011e5.cfbca6","name":"Retardo fichero disponible","info":"Los editores de ficheros bloquean el fichero durante un tiempo y cuando vamos a leer da error. Con el retardo la situación se estabiliza y el fichero está disponible","x":210,"y":140,"wires":[]},{"id":"39a5b8ca.7b0258","type":"csv","z":"354011e5.cfbca6","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":930,"y":200,"wires":[["a2a2b769.e622b"]]},{"id":"a2a2b769.e622b","type":"function","z":"354011e5.cfbca6","name":"","func":"msg.topic = msg.file.substr(0,msg.file.indexOf('.'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":200,"wires":[["2df2884e.0c492"]]},{"id":"3c3c6a23.ad207e","type":"file in","z":"354011e5.cfbca6","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":790,"y":200,"wires":[["39a5b8ca.7b0258"]]},{"id":"837eb20.452505","type":"debug","z":"354011e5.cfbca6","d":true,"name":"subflowFilter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":140,"wires":[]},{"id":"2df2884e.0c492","type":"debug","z":"354011e5.cfbca6","d":true,"name":"subflowRead","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":340,"wires":[]},{"id":"c6a67af3.a7748","type":"ui_template","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","group":"dfad00fc.e2b86","name":"Nest","order":2,"width":"6","height":"6","format":"<div id=\"thermostat\"></div>\n\n<style>\n@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);\n#thermostat {\n  margin: 0 auto;\n  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);\n}\n.dial {\n  -webkit-user-select: none;\n     -moz-user-select: none;\n      -ms-user-select: none;\n          user-select: none;\n}\n.dial.away .dial__ico__leaf {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--target {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--target--half {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--away {\n  opacity: 1;\n}\n.dial .dial__shape {\n  -webkit-transition: fill 0.5s;\n  transition: fill 0.5s;\n}\n.dial__ico__leaf {\n  fill: #13EB13;\n  opacity: 0;\n  -webkit-transition: opacity 0.5s;\n  transition: opacity 0.5s;\n  pointer-events: none;\n}\n.dial.has-leaf .dial__ico__leaf {\n  display: block;\n  opacity: 1;\n  pointer-events: initial;\n}\n.dial__editableIndicator {\n  fill: white;\n  fill-rule: evenodd;\n  opacity: 0;\n  -webkit-transition: opacity 0.5s;\n  transition: opacity 0.5s;\n}\n.dial--edit .dial__editableIndicator {\n  opacity: 1;\n}\n.dial--state--off .dial__shape {\n  fill: #3d3c3c;\n}\n.dial--state--heating .dial__shape {\n  fill: #E36304;\n}\n.dial--state--cooling .dial__shape {\n  fill: #007AF1;\n}\n.dial__ticks path {\n  fill: rgba(255, 255, 255, 0.3);\n}\n.dial__ticks path.active {\n  fill: rgba(255, 255, 255, 0.8);\n}\n.dial text {\n  fill: white;\n  text-anchor: middle;\n  font-family: Helvetica, sans-serif;\n  alignment-baseline: central;\n}\n.dial__lbl--target {\n  font-size: 120px;\n  font-weight: bold;\n}\n.dial__lbl--target--half {\n  font-size: 40px;\n  font-weight: bold;\n  opacity: 0;\n  -webkit-transition: opacity 0.1s;\n  transition: opacity 0.1s;\n}\n.dial__lbl--target--half.shown {\n  opacity: 1;\n  -webkit-transition: opacity 0s;\n  transition: opacity 0s;\n}\n.dial__lbl--ambient {\n  font-size: 30px;\n  font-weight: bold;\n}\n.dial__lbl--away {\n  font-size: 72px;\n  font-weight: bold;\n  opacity: 0;\n  pointer-events: none;\n}\n#controls {\n  font-family: Open Sans;\n  background-color: rgba(255, 255, 255, 0.25);\n  padding: 20px;\n  border-radius: 5px;\n  position: absolute;\n  left: 50%;\n  -webkit-transform: translatex(-50%);\n          transform: translatex(-50%);\n  margin-top: 20px;\n}\n#controls label {\n  text-align: left;\n  display: block;\n}\n#controls label span {\n  display: inline-block;\n  width: 200px;\n  text-align: right;\n  font-size: 0.8em;\n  text-transform: uppercase;\n}\n#controls p {\n  margin: 0;\n  margin-bottom: 1em;\n  padding-bottom: 1em;\n  border-bottom: 2px solid #ccc;\n}\n</style>\n<script>\n    var thermostatDial = (function() {\n\t\n\t/*\n\t * Utility functions\n\t */\n\t\n\t// Create an element with proper SVG namespace, optionally setting its attributes and appending it to another element\n\tfunction createSVGElement(tag,attributes,appendTo) {\n\t\tvar element = document.createElementNS('http://www.w3.org/2000/svg',tag);\n\t\tattr(element,attributes);\n\t\tif (appendTo) {\n\t\t\tappendTo.appendChild(element);\n\t\t}\n\t\treturn element;\n\t}\n\t\n\t// Set attributes for an element\n\tfunction attr(element,attrs) {\n\t\tfor (var i in attrs) {\n\t\t\telement.setAttribute(i,attrs[i]);\n\t\t}\n\t}\n\t\n\t// Rotate a cartesian point about given origin by X degrees\n\tfunction rotatePoint(point, angle, origin) {\n\t\tvar radians = angle * Math.PI/180;\n\t\tvar x = point[0]-origin[0];\n\t\tvar y = point[1]-origin[1];\n\t\tvar x1 = x*Math.cos(radians) - y*Math.sin(radians) + origin[0];\n\t\tvar y1 = x*Math.sin(radians) + y*Math.cos(radians) + origin[1];\n\t\treturn [x1,y1];\n\t}\n\t\n\t// Rotate an array of cartesian points about a given origin by X degrees\n\tfunction rotatePoints(points, angle, origin) {\n\t\treturn points.map(function(point) {\n\t\t\treturn rotatePoint(point, angle, origin);\n\t\t});\n\t}\n\t\n\t// Given an array of points, return an SVG path string representing the shape they define\n\tfunction pointsToPath(points) {\n\t\treturn points.map(function(point, iPoint) {\n\t\t\treturn (iPoint>0?'L':'M') + point[0] + ' ' + point[1];\n\t\t}).join(' ')+'Z';\n\t}\n\t\n\tfunction circleToPath(cx, cy, r) {\n\t\treturn [\n\t\t\t\"M\",cx,\",\",cy,\n\t\t\t\"m\",0-r,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,r*2,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,0-r*2,\",\",0,\n\t\t\t\"z\"\n\t\t].join(' ').replace(/\\s,\\s/g,\",\");\n\t}\n\t\n\tfunction donutPath(cx,cy,rOuter,rInner) {\n\t\treturn circleToPath(cx,cy,rOuter) + \" \" + circleToPath(cx,cy,rInner);\n\t}\n\t\n\t// Restrict a number to a min + max range\n\tfunction restrictToRange(val,min,max) {\n\t\tif (val < min) return min;\n\t\tif (val > max) return max;\n\t\treturn val;\n\t}\n\t\n\t// Round a number to the nearest 0.5\n\tfunction roundHalf(num) {\n\t\treturn Math.round(num*2)/2;\n\t}\n\t\n\tfunction setClass(el, className, state) {\n\t\tel.classList[state ? 'add' : 'remove'](className);\n\t}\n\t\n\t/*\n\t * The \"MEAT\"\n\t */\n\n\treturn function(targetElement, options) {\n\t\tvar self = this;\n\t\t\n\t\t/*\n\t\t * Options\n\t\t */\n\t\toptions = options || {};\n\t\toptions = {\n\t\t\tdiameter: options.diameter || 400,\n\t\t\tminValue: options.minValue || 10, // Minimum value for target temperature\n\t\t\tmaxValue: options.maxValue || 30, // Maximum value for target temperature\n\t\t\tnumTicks: options.numTicks || 200, // Number of tick lines to display around the dial\n\t\t\tonSetTargetTemperature: options.onSetTargetTemperature || function() {}, // Function called when new target temperature set by the dial\n\t\t};\n\t\t\n\t\t/*\n\t\t * Properties - calculated from options in many cases\n\t\t */\n\t\tvar properties = {\n\t\t\ttickDegrees: 300, //  Degrees of the dial that should be covered in tick lines\n\t\t\trangeValue: options.maxValue - options.minValue,\n\t\t\tradius: options.diameter/2,\n\t\t\tticksOuterRadius: options.diameter / 30,\n\t\t\tticksInnerRadius: options.diameter / 8,\n\t\t\thvac_states: ['off', 'heating', 'cooling'],\n\t\t\tdragLockAxisDistance: 15,\n\t\t}\n\t\tproperties.lblAmbientPosition = [properties.radius, properties.ticksOuterRadius-(properties.ticksOuterRadius-properties.ticksInnerRadius)/2]\n\t\tproperties.offsetDegrees = 180-(360-properties.tickDegrees)/2;\n\t\t\n\t\t/*\n\t\t * Object state\n\t\t */\n\t\tvar state = {\n\t\t\ttarget_temperature: options.minValue,\n\t\t\tambient_temperature: options.minValue,\n\t\t\thvac_state: properties.hvac_states[0],\n\t\t\thas_leaf: false,\n\t\t\taway: false\n\t\t};\n\t\t\n\t\t/*\n\t\t * Property getter / setters\n\t\t */\n\t\tObject.defineProperty(this,'target_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.target_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.target_temperature = restrictTargetTemperature(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'ambient_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.ambient_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.ambient_temperature = roundHalf(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'hvac_state',{\n\t\t\tget: function() {\n\t\t\t\treturn state.hvac_state;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tif (properties.hvac_states.indexOf(val)>=0) {\n\t\t\t\t\tstate.hvac_state = val;\n\t\t\t\t\trender();\n\t\t\t\t}\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'has_leaf',{\n\t\t\tget: function() {\n\t\t\t\treturn state.has_leaf;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.has_leaf = !!val;\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'away',{\n\t\t\tget: function() {\n\t\t\t\treturn state.away;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.away = !!val;\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\t\n\t\t/*\n\t\t * SVG\n\t\t */\n\t\tvar svg = createSVGElement('svg',{\n\t\t\twidth: '100%', //options.diameter+'px',\n\t\t\theight: '100%', //options.diameter+'px',\n\t\t\tviewBox: '0 0 '+options.diameter+' '+options.diameter,\n\t\t\tclass: 'dial'\n\t\t},targetElement);\n\t\t// CIRCULAR DIAL\n\t\tvar circle = createSVGElement('circle',{\n\t\t\tcx: properties.radius,\n\t\t\tcy: properties.radius,\n\t\t\tr: properties.radius,\n\t\t\tclass: 'dial__shape'\n\t\t},svg);\n\t\t// EDITABLE INDICATOR\n\t\tvar editCircle = createSVGElement('path',{\n\t\t\td: donutPath(properties.radius,properties.radius,properties.radius-4,properties.radius-8),\n\t\t\tclass: 'dial__editableIndicator',\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * Ticks\n\t\t */\n\t\tvar ticks = createSVGElement('g',{\n\t\t\tclass: 'dial__ticks'\t\n\t\t},svg);\n\t\tvar tickPoints = [\n\t\t\t[properties.radius-1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksInnerRadius],\n\t\t\t[properties.radius-1, properties.ticksInnerRadius]\n\t\t];\n\t\tvar tickPointsLarge = [\n\t\t\t[properties.radius-1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksInnerRadius+20],\n\t\t\t[properties.radius-1.5, properties.ticksInnerRadius+20]\n\t\t];\n\t\tvar theta = properties.tickDegrees/options.numTicks;\n\t\tvar tickArray = [];\n\t\tfor (var iTick=0; iTick<options.numTicks; iTick++) {\n\t\t\ttickArray.push(createSVGElement('path',{d:pointsToPath(tickPoints)},ticks));\n\t\t};\n\t\t\n\t\t/*\n\t\t * Labels\n\t\t */\n\t\tvar lblTarget = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--target'\n\t\t},svg);\n\t\tvar lblTarget_text = document.createTextNode('');\n\t\tlblTarget.appendChild(lblTarget_text);\n\t\t//\n\t\tvar lblTargetHalf = createSVGElement('text',{\n\t\t\tx: properties.radius + properties.radius/2.5,\n\t\t\ty: properties.radius - properties.radius/8,\n\t\t\tclass: 'dial__lbl dial__lbl--target--half'\n\t\t},svg);\n\t\tvar lblTargetHalf_text = document.createTextNode('5');\n\t\tlblTargetHalf.appendChild(lblTargetHalf_text);\n\t\t//\n\t\tvar lblAmbient = createSVGElement('text',{\n\t\t\tclass: 'dial__lbl dial__lbl--ambient'\n\t\t},svg);\n\t\tvar lblAmbient_text = document.createTextNode('');\n\t\tlblAmbient.appendChild(lblAmbient_text);\n\t\t//\n\t\tvar lblAway = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--away'\n\t\t},svg);\n\t\tvar lblAway_text = document.createTextNode('AWAY');\n\t\tlblAway.appendChild(lblAway_text);\n\t\t//\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf'\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * LEAF\n\t\t */\n\t\tvar leafScale = properties.radius/5/100;\n\t\tvar leafDef = [\"M\", 3, 84, \"c\", 24, 17, 51, 18, 73, -6, \"C\", 100, 52, 100, 22, 100, 4, \"c\", -13, 15, -37, 9, -70, 19, \"C\", 4, 32, 0, 63, 0, 76, \"c\", 6, -7, 18, -17, 33, -23, 24, -9, 34, -9, 48, -20, -9, 10, -20, 16, -43, 24, \"C\", 22, 63, 8, 78, 3, 84, \"z\"].map(function(x) {\n\t\t\treturn isNaN(x) ? x : x*leafScale;\n\t\t}).join(' ');\n\t\tvar translate = [properties.radius-(leafScale*100*0.5),properties.radius*1.5]\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf',\n\t\t\td: leafDef,\n\t\t\ttransform: 'translate('+translate[0]+','+translate[1]+')'\n\t\t},svg);\n\t\t\t\n\t\t/*\n\t\t * RENDER\n\t\t */\n\t\tfunction render() {\n\t\t\trenderAway();\n\t\t\trenderHvacState();\n\t\t\trenderTicks();\n\t\t\trenderTargetTemperature();\n\t\t\trenderAmbientTemperature();\n\t\t\trenderLeaf();\n\t\t}\n\t\trender();\n\n\t\t/*\n\t\t * RENDER - ticks\n\t\t */\n\t\tfunction renderTicks() {\n\t\t\tvar vMin, vMax;\n\t\t\tif (self.away) {\n\t\t\t\tvMin = self.ambient_temperature;\n\t\t\t\tvMax = vMin;\n\t\t\t} else {\n\t\t\t\tvMin = Math.min(self.ambient_temperature, self.target_temperature);\n\t\t\t\tvMax = Math.max(self.ambient_temperature, self.target_temperature);\n\t\t\t}\n\t\t\tvar min = restrictToRange(Math.round((vMin-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\tvar max = restrictToRange(Math.round((vMax-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\t//\n\t\t\ttickArray.forEach(function(tick,iTick) {\n\t\t\t\tvar isLarge = iTick==min || iTick==max;\n\t\t\t\tvar isActive = iTick >= min && iTick <= max;\n\t\t\t\tattr(tick,{\n\t\t\t\t\td: pointsToPath(rotatePoints(isLarge ? tickPointsLarge: tickPoints,iTick*theta-properties.offsetDegrees,[properties.radius, properties.radius])),\n\t\t\t\t\tclass: isActive ? 'active' : ''\n\t\t\t\t});\n\t\t\t});\n\t\t}\n\t\n\t\t/*\n\t\t * RENDER - ambient temperature\n\t\t */\n\t\tfunction renderAmbientTemperature() {\n\t\t\tlblAmbient_text.nodeValue = Math.floor(self.ambient_temperature);\n\t\t\tif (self.ambient_temperature%1!=0) {\n\t\t\t\tlblAmbient_text.nodeValue += '⁵';\n\t\t\t}\n\t\t\tvar peggedValue = restrictToRange(self.ambient_temperature, options.minValue, options.maxValue);\n\t\t\tdegs = properties.tickDegrees * (peggedValue-options.minValue)/properties.rangeValue - properties.offsetDegrees;\n\t\t\tif (peggedValue > self.target_temperature) {\n\t\t\t\tdegs += 8;\n\t\t\t} else {\n\t\t\t\tdegs -= 8;\n\t\t\t}\n\t\t\tvar pos = rotatePoint(properties.lblAmbientPosition,degs,[properties.radius, properties.radius]);\n\t\t\tattr(lblAmbient,{\n\t\t\t\tx: pos[0],\n\t\t\t\ty: pos[1]\n\t\t\t});\n\t\t}\n\n\t\t/*\n\t\t * RENDER - target temperature\n\t\t */\n\t\tfunction renderTargetTemperature() {\n\t\t\tlblTarget_text.nodeValue = Math.floor(self.target_temperature);\n\t\t\tsetClass(lblTargetHalf,'shown',self.target_temperature%1!=0);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - leaf\n\t\t */\n\t\tfunction renderLeaf() {\n\t\t\tsetClass(svg,'has-leaf',self.has_leaf);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - HVAC state\n\t\t */\n\t\tfunction renderHvacState() {\n\t\t\tArray.prototype.slice.call(svg.classList).forEach(function(c) {\n\t\t\t\tif (c.match(/^dial--state--/)) {\n\t\t\t\t\tsvg.classList.remove(c);\n\t\t\t\t};\n\t\t\t});\n\t\t\tsvg.classList.add('dial--state--'+self.hvac_state);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - away\n\t\t */\n\t\tfunction renderAway() {\n\t\t\tsvg.classList[self.away ? 'add' : 'remove']('away');\n\t\t}\n\t\t\n\t\t/*\n\t\t * Drag to control\n\t\t */\n\t\tvar _drag = {\n\t\t\tinProgress: false,\n\t\t\tstartPoint: null,\n\t\t\tstartTemperature: 0,\n\t\t\tlockAxis: undefined\n\t\t};\n\t\t\n\t\tfunction eventPosition(ev) {\n\t\t\tif (ev.targetTouches && ev.targetTouches.length) {\n\t\t\t\treturn  [ev.targetTouches[0].clientX, ev.targetTouches[0].clientY];\n\t\t\t} else {\n\t\t\t\treturn [ev.x, ev.y];\n\t\t\t};\n\t\t}\n\t\t\n\t\tvar startDelay;\n\t\tfunction dragStart(ev) {\n\t\t\tstartDelay = setTimeout(function() {\n\t\t\t\tsetClass(svg, 'dial--edit', true);\n\t\t\t\t_drag.inProgress = true;\n\t\t\t\t_drag.startPoint = eventPosition(ev);\n\t\t\t\t_drag.startTemperature = self.target_temperature || options.minValue;\n\t\t\t\t_drag.lockAxis = undefined;\n\t\t\t},1000);\n\t\t};\n\t\t\n\t\tfunction dragEnd (ev) {\n\t\t\tclearTimeout(startDelay);\n\t\t\tsetClass(svg, 'dial--edit', false);\n\t\t\tif (!_drag.inProgress) return;\n\t\t\t_drag.inProgress = false;\n\t\t\tif (self.target_temperature != _drag.startTemperature) {\n\t\t\t\tif (typeof options.onSetTargetTemperature == 'function') {\n\t\t\t\t\toptions.onSetTargetTemperature(self.target_temperature);\n\t\t\t\t};\n\t\t\t};\n\t\t};\n\t\t\n\t\tfunction dragMove(ev) {\n\t\t\tev.preventDefault();\n\t\t\tif (!_drag.inProgress) return;\n\t\t\tvar evPos =  eventPosition(ev);\n\t\t\tvar dy = _drag.startPoint[1]-evPos[1];\n\t\t\tvar dx = evPos[0] - _drag.startPoint[0];\n\t\t\tvar dxy;\n\t\t\tif (_drag.lockAxis == 'x') {\n\t\t\t\tdxy  = dx;\n\t\t\t} else if (_drag.lockAxis == 'y') {\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dy) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'y';\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dx) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'x';\n\t\t\t\tdxy = dx;\n\t\t\t} else {\n\t\t\t\tdxy = (Math.abs(dy) > Math.abs(dx)) ? dy : dx;\n\t\t\t};\n\t\t\tvar dValue = (dxy*getSizeRatio())/(options.diameter)*properties.rangeValue;\n\t\t\tself.target_temperature = roundHalf(_drag.startTemperature+dValue);\n\t\t}\n\t\t\n\t\tsvg.addEventListener('mousedown',dragStart);\n\t\tsvg.addEventListener('touchstart',dragStart);\n\t\t\n\t\tsvg.addEventListener('mouseup',dragEnd);\n\t\tsvg.addEventListener('mouseleave',dragEnd);\n\t\tsvg.addEventListener('touchend',dragEnd);\n\t\t\n\t\tsvg.addEventListener('mousemove',dragMove);\n\t\tsvg.addEventListener('touchmove',dragMove);\n\t\t//\n\t\t\n\t\t/*\n\t\t * Helper functions\n\t\t */\n\t\tfunction restrictTargetTemperature(t) {\n\t\t\treturn restrictToRange(roundHalf(t),options.minValue,options.maxValue);\n\t\t}\n\t\t\n\t\tfunction angle(point) {\n\t\t\tvar dx = point[0] - properties.radius;\n\t\t\tvar dy = point[1] - properties.radius;\n\t\t\tvar theta = Math.atan(dx/dy) / (Math.PI/180);\n\t\t\tif (point[0]>=properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta - 90;\n\t\t\t} else if (point[0]>=properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta+270;\n\t\t\t}\n\t\t\treturn theta;\n\t\t};\n\t\t\n\t\tfunction getSizeRatio() {\n\t\t\treturn options.diameter / targetElement.clientWidth;\n\t\t}\n\t\t\n\t};\n})();\n\n/* ==== */\n(function(scope) {\n    \n    var nest = new thermostatDial(document.getElementById('thermostat'),{\n    \tonSetTargetTemperature: function(v) {\n    \t\tscope.send({topic: \"target_temperature\", payload: v});\n    \t}\n    });\n\n\n    scope.$watch('msg.state', function(data) {\n        \n        console.log (\"Entrada\");\n        console.dir (data);\n        if (nest.ambient_temperature != data.ambientTemp) {\n            nest.ambient_temperature = data.ambientTemp\n        }\n        if (nest.target_temperature != data.targetTemp){\n            nest.target_temperature = data.targetTemp\n        }\n        \n        var hvac = \"off\";\n        if (data.boilerFunction == \"start\"){\n            hvac = \"heating\"\n        }\n        if (nest.hvac_state != hvac){\n            nest.hvac_state =hvac\n        }\n        if (nest.away != data.away){\n            nest.away = data.away\n        }\n        \n        nest.has_leaf = (data.mode == \"manual\");\n        \n        console.log (\"salida\");\n        console.dir (data);\n\n        /*\n        //console.log(data.topic+\"  \"+data.payload);\n        if (data.topic == \"ambient_temperature\") {\n            nest.ambient_temperature = data.payload;\n        } if (data.topic == \"target_temperature\") {\n            nest.target_temperature = data.payload;\n        } if (data.topic == \"hvac_state\") {\n            nest.hvac_state = data.payload;\n        } if (data.topic == \"has_leaf\") {\n            nest.has_leaf = data.payload;\n        } if (data.topic == \"away\") {\n            nest.away = data.payload;\n        }\n        */\n    });\n})(scope);\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1310,"y":740,"wires":[[]]},{"id":"21124c98.94b26c","type":"mqtt in","z":"7fddfb51.6bbd1c","name":"/home/+/+/temperature","topic":"/home/+/+/temperature","qos":"0","datatype":"auto","broker":"bf95716a.6309c8","x":160,"y":80,"wires":[["c503192b.ac132","99174b92.7bba68"]]},{"id":"de33ae1e.f4cdf8","type":"ui_slider","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"TempSlider","label":"Temp","tooltip":"Temperatura Manual","group":"dfad00fc.e2b86","order":3,"width":"1","height":"5","passthru":false,"outs":"end","topic":"tempSlider","min":"10","max":"30","step":1,"x":650,"y":1080,"wires":[["d124fd53.f1084"]]},{"id":"29a632ef.4e88de","type":"mqtt out","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"Control Sonoff","topic":"cmnd/home/caldera/POWER","qos":"","retain":"","broker":"bf95716a.6309c8","x":1260,"y":680,"wires":[]},{"id":"6150a3ed.194f54","type":"function","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"Control Caldera","func":"var newMsg = {payload:\"off\"};\n\nif (!msg.state.away && msg.state.boilerFunction == \"start\"){\n    newMsg.payload = \"on\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":600,"wires":[["29a632ef.4e88de","24458863.26a218"]]},{"id":"c503192b.ac132","type":"function","z":"7fddfb51.6bbd1c","name":"Update the 'TempAmbient'","func":"var antTemp = flow.get (\"antAmbientTemp\");\n\nparts = msg.topic.split (\"/\");\n//ejemplo: /home/salong/01/temperature\nsensors = flow.get (\"tempSensors\")||{};\nsensorId = parts[2]+\"_\"+parts[3];\nsensors[sensorId]=parseFloat(msg.payload);\nflow.set (\"tempSensors\",sensors)\n\nconst temps = Object.values(sensors);\n\nconst sum = temps.reduce(function (accumulator, currentValue){\n  return accumulator + currentValue;\n}, 0);\n\nconst average = sum / temps.length;\n\nif (average != antTemp){\n    msg.topic = \"ambientTemp\";\n    msg.payload = average;\n    flow.set(\"antAmbientTemp\",average);\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":80,"wires":[["6719b6a5.86ddb8","b990349e.6a90a8"]]},{"id":"672134a0.a5230c","type":"inject","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"5 seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":720,"wires":[["79801123.f0cab"]]},{"id":"3e01cb36.e0a90c","type":"function","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"doTodayIntervals","func":"\n/*\nmsg.date = \"\" + msg.ts.getFullYear() + \"-\" +\n                (msg.ts.getMonth()+1) + \"-\" +\n                (msg.ts.getDate()) + \"T\" +\n                msg.ts.getHours() + \":\" +\n                msg.ts.getMinutes();\n*/\n\nfunction dateWithTime(date,time){\n    daux=new Date(date);\n    daux.setHours(parseInt(time.substr(0,2)));\n    daux.setMinutes(parseInt(time.substr(3,2)));\n    daux.setSeconds(0);\n    daux.setMilliseconds(0);\n    return daux;\n}\n\nvar today = flow.get(\"today\")||{day:-1};\n\ntoday.day = msg.day;\n\nvar patrones = flow.get(\"patrones\");\nvar patronAExtraer = flow.get(\"diaPatron\")[msg.day].patron;\n\ntoday.intervals = [];\npatrones.forEach( function (item, index, array) {\n    if (item.patron == patronAExtraer){\n        today.intervals.push ({\n            hora: dateWithTime(msg.ts,item.hora),\n            temp: parseFloat(item.temperatura)\n        })\n    }\n});\n\nflow.set(\"today\",today)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":780,"wires":[["858bf76b.97e588","e13c8432.385e8","c5496ea1.6f466"]]},{"id":"858bf76b.97e588","type":"function","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"Preset TargetTemperature","func":"var today = flow.get(\"today\");\n//Elige el tramo horario activo\nvar current = 0;\ntoday.intervals.forEach(function (item, index, array){\n    if (msg.ts>item.hora){\n        current = index;\n    }\n})\n\nmsg.topic = \"targetTemp\"\nmsg.payload=today.intervals[current].temp\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":860,"wires":[["d124fd53.f1084","2969e0e7.7dbeb8"]]},{"id":"99174b92.7bba68","type":"debug","z":"7fddfb51.6bbd1c","name":"Temperatura Sensor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":40,"wires":[]},{"id":"24458863.26a218","type":"debug","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"OrdenCaldera","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":540,"wires":[]},{"id":"52ba65c5.6b433c","type":"ui_button","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"","group":"dfad00fc.e2b86","order":7,"width":"2","height":"1","passthru":true,"label":"Reset","tooltip":"Volver a temperatura programada","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"toStandard","x":270,"y":920,"wires":[["ab87f681.86dce8","a144a78f.dcce38"]]},{"id":"dde95f67.5c60d","type":"mqtt in","z":"7fddfb51.6bbd1c","name":"","topic":"stat/home/caldera/#","qos":"2","datatype":"auto","broker":"bf95716a.6309c8","x":130,"y":260,"wires":[["5554a4bf.ba337c"]]},{"id":"6aebc960.3e3ba8","type":"comment","z":"7fddfb51.6bbd1c","name":"Apagar / encender","info":"","x":570,"y":116,"wires":[]},{"id":"ab87f681.86dce8","type":"ui_slider","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"HourSlider","label":"Horas","tooltip":"","group":"dfad00fc.e2b86","order":4,"width":"1","height":"5","passthru":true,"outs":"end","topic":"hourSlider","min":"0","max":10,"step":1,"x":510,"y":960,"wires":[["d124fd53.f1084","858bf76b.97e588"]]},{"id":"d124fd53.f1084","type":"function","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"Gestor Estado","func":"addHours = function(date,h) {\n  return new Date(date.getTime() + (h*60*60*1000));\n}\n\ndiffHours = function (dateFrom, dateTo){\n    diff = dateTo - dateFrom;\n    return Math.ceil(diff / (60*60*1000))\n}\n\n\nfunction resetToAutomatic (state){\n    state.mode = \"automatic\";\n    state.manual = null;\n}\n\nfunction resetToManual (state){\n    state.mode = \"manual\";\n    state.manual={\n        from: new Date(),\n        to:undefined\n    }\n    state.manual.to= addHours (state.manual.from,state.hourSlider);\n}\n\nvar state = flow.get (\"state\") || {away:true};\n\nswitch (msg.topic) {\n    case \"hourSlider\":\n        state.hourSlider = msg.payload;\n        if (state.hourSlider > 0){\n            resetToManual (state);\n        }else{\n            resetToAutomatic(state);\n        }\n        break;\n    case \"tempSlider\":\n        state.tempSlider = msg.payload;\n        break;\n    case \"targetTemp\":\n        state.targetTemp = msg.payload;\n        break;\n    case \"ambientTemp\":\n        state.ambientTemp = msg.payload;\n        break;\n    case \"away\":\n        state.away = !state.away\n        break;\n    default:\n       break;\n}\n\nif (state.mode == \"manual\"){\n    msg.topic = \"resetHourSlider\"\n    if (new Date() >= state.manual.to) {\n        msg.payload = 0;\n        resetToAutomatic(state)\n    } else {\n        msg.payload = state.hourSlider;\n        state.hourSlider = diffHours (new Date(), state.manual.to);\n        state.targetTemp = state.tempSlider;\n    }\n}\n\nif (state.away){\n    state.boilerFunction = \"stop\"\n} else {\n    var ranges = flow.get (\"rangosTemp\")|| [{rangeInfTemp:0,rangeSupTemp:0}];\n    ranges = ranges[0];\n    var tope = state.targetTemp;\n    if (state.boilerFunction == \"start\") {\n        tope = state.targetTemp + ranges.rangeSupTemp;\n        if (state.ambientTemp > tope){\n            state.boilerFunction = \"stop\"\n        }\n    }else{\n        tope = state.targetTemp - ranges.rangeInfTemp;\n        if (state.ambientTemp < tope){\n            state.boilerFunction = \"start\"\n        }\n    }\n    \n}\n\n/*\nif (!state.away && state.ambientTemp < state.targetTemp){\n    state.boilerFunction = \"start\"\n}else{\n    state.boilerFunction = \"stop\"\n}\n*/\n\nflow.set (\"state\",state)\nmsg.state = state\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":840,"wires":[["6150a3ed.194f54","c6a67af3.a7748","3695ec73.dc0bb4","62a4b6de.8ebf6"]]},{"id":"e7eb756f.801308","type":"function","z":"7fddfb51.6bbd1c","name":"Boiler command","func":"msg.topic = \"boilerState\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":240,"wires":[["b990349e.6a90a8"]]},{"id":"4c4520ec.45e2","type":"subflow:354011e5.cfbca6","z":"7fddfb51.6bbd1c","g":"17f2f3da.ba1ccc","name":"","env":[],"x":340,"y":380,"wires":[["103e318f.edb01e","a35502ab.e18248"]],"icon":"node-red/file-in.svg","info":"# Localización de los ficheros\nLa localización de los ficheros es /data/data/termostato/\n\nCada vez que se produzca un cambio en un fichero de ese directorio realizará la carga de ese fichero y reinicializa en entorno de la programación para el día en curso.\n\nDeben existir dos ficheros:\n### patrones.csv\nUtiliza como delimitador la coma, ejemplo de fichero:\n`patron,hora,temperatura\nnormal,00:00,18.5\nnormal,11:00,26\nnormal,22:00,17\nfestivo,00:00,18\nfestivo,09:00,21\nfestivo,23:00,18`\n### diaPatron.csv\ndia,patron\nL,normal\nM,normal\nX,normal\nJ,normal\nV,normal\nS,festivo\nD,festivo\n\n# Salidas\nEl subproceso deja en el contexto flow las siguientes variables:\n - patrones: Un array de objetos que contienen el nombre del patrón, la hora y la temperatura a establecer a partir de esa hora\n - diaPatron: un array con el patrón asignado a cada día de la semana, el lunes está en la componente 0.\n - today: tabla con la programación para el día en curso. Cuando se modifica cualquier fichero esta tabla se establece con el valor `undefined`, para que se vuelva a generar.\n"},{"id":"1b57436e.305f25","type":"inject","z":"7fddfb51.6bbd1c","g":"17f2f3da.ba1ccc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":380,"wires":[["4c4520ec.45e2"]]},{"id":"a35502ab.e18248","type":"debug","z":"7fddfb51.6bbd1c","g":"17f2f3da.ba1ccc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":360,"wires":[]},{"id":"103e318f.edb01e","type":"function","z":"7fddfb51.6bbd1c","g":"17f2f3da.ba1ccc","name":"updateFlowContext","func":"flow.set(\"today\",undefined)\nflow.set(msg.topic, msg.payload)\nmsg.payload = new Date();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":400,"wires":[[]]},{"id":"3695ec73.dc0bb4","type":"debug","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"state","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":820,"wires":[]},{"id":"ef742c7e.557768","type":"inject","z":"7fddfb51.6bbd1c","name":"Away on/off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"away","payload":"","payloadType":"date","x":570,"y":140,"wires":[["b990349e.6a90a8"]]},{"id":"62a4b6de.8ebf6","type":"switch","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"msg resetHourSlider","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"resetHourSlider","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1280,"y":880,"wires":[["ab87f681.86dce8"]]},{"id":"3afa6369.d8ee2c","type":"comment","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"reducir hourSlider","info":"Filtramos los mensajes de salida de estado para que vayan reduciendo el slider hourSlider y ver así el tiempo que queda.","x":1250,"y":940,"wires":[]},{"id":"ff553b37.2d542","type":"file","z":"7fddfb51.6bbd1c","g":"b72374e2.0018a","name":"write Temp's","filename":"${IOT_DATA}/termostato/log.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":930,"y":1320,"wires":[[]]},{"id":"1ac5be3e.457baa","type":"inject","z":"7fddfb51.6bbd1c","g":"b72374e2.0018a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":110,"y":1258,"wires":[["abf675ce.11908"]]},{"id":"b1285280.2ada48","type":"csv","z":"7fddfb51.6bbd1c","g":"b72374e2.0018a","name":"","sep":",","hdrin":"","hdrout":"once","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":770,"y":1320,"wires":[["ff553b37.2d542"]]},{"id":"7880f196.0a91","type":"function","z":"7fddfb51.6bbd1c","g":"b72374e2.0018a","name":"StateToPayload","func":"var state = flow.get (\"state\");\n\nmsg.payload = {\n    timestamp: msg.payload,\n    away : state.away, \n    targetTemp: state.targetTemp, \n    boilerFunction: state.boilerFunction, \n    mode: state.mode, \n    manualFrom: (state.manual==null)?null:state.manual.from, \n    manualTo: (state.manual==null)?null:state.manual.to, \n    hourSlider: state.hourSlider, \n    tempSlider: state.tempSlider,\n    ambientTemp: state.ambientTemp,\n    tempSensors: flow.get(\"tempSensors\")||{},\n    humSensors: flow.get(\"humSensors\")||{}\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1259,"wires":[["7e4312eb.f956d4","e8e314bd.a71b3"]]},{"id":"88e7172d.e27388","type":"comment","z":"7fddfb51.6bbd1c","name":"topic: /home/{habitacion}/{numSensor(2dig.)}/{medida}","info":"","x":200,"y":20,"wires":[]},{"id":"18f2315f.bcb73f","type":"comment","z":"7fddfb51.6bbd1c","name":"/home/salon/01/temperature","info":"","x":120,"y":120,"wires":[]},{"id":"abf675ce.11908","type":"moment","z":"7fddfb51.6bbd1c","g":"b72374e2.0018a","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Madrid","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"es-ES","output":"","outputType":"msg","outTz":"Europe/Madrid","x":300,"y":1258,"wires":[["7880f196.0a91"]]},{"id":"7f4f9c56.f81fe4","type":"comment","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"Enlace a Preset..., restaura targetTEmp","info":"","x":590,"y":1000,"wires":[]},{"id":"ee242322.bc497","type":"inject","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":110,"y":920,"wires":[["52ba65c5.6b433c"]]},{"id":"a144a78f.dcce38","type":"change","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1080,"wires":[["de33ae1e.f4cdf8"]]},{"id":"5554a4bf.ba337c","type":"debug","z":"7fddfb51.6bbd1c","name":"RespSonoff","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":260,"wires":[]},{"id":"79734162.b3b89","type":"mqtt in","z":"7fddfb51.6bbd1c","name":"","topic":"/home/+/+/humidity","qos":"2","datatype":"auto","broker":"bf95716a.6309c8","x":130,"y":180,"wires":[["c28f6295.6895"]]},{"id":"c28f6295.6895","type":"function","z":"7fddfb51.6bbd1c","name":"Store humidity","func":"parts = msg.topic.split (\"/\");\n//ejemplo: /home/salong/01/humidity\nsensors = flow.get (\"humSensors\")||{};\nsensorId = parts[2]+\"_\"+parts[3];\nsensors[sensorId]=parseFloat(msg.payload);\nflow.set (\"humSensors\",sensors)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[[]]},{"id":"e13c8432.385e8","type":"debug","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"SalidaDoToday","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":680,"wires":[]},{"id":"6719b6a5.86ddb8","type":"debug","z":"7fddfb51.6bbd1c","name":"CambioTempAmbiente","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":60,"wires":[]},{"id":"7e4312eb.f956d4","type":"function","z":"7fddfb51.6bbd1c","g":"b72374e2.0018a","name":"Compare prev State","func":"\nvar ant = flow.get(\"antWriteState\") || {};\n\nfunction isEqual(object1, object2) {\n  const keys1 = Object.keys(object1);\n  const keys2 = Object.keys(object2);\n\n  if (keys1.length !== keys2.length) {\n    return false;\n  }\n\n  for (let key of keys1) {\n    if (key !== \"timestamp\" &&\n        object1[key] !== object2[key]) {\n      return false;\n    }\n  }\n\n  return true;\n}\n\nif (!isEqual(msg.payload, ant)){\n    flow.set(\"antWriteState\",msg.payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1320,"wires":[["b1285280.2ada48","c21d85b7.3ee3b8"]]},{"id":"e8e314bd.a71b3","type":"debug","z":"7fddfb51.6bbd1c","g":"b72374e2.0018a","name":"previoEscribir","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":1220,"wires":[]},{"id":"c21d85b7.3ee3b8","type":"debug","z":"7fddfb51.6bbd1c","g":"b72374e2.0018a","name":"escribeSiDistinto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1400,"wires":[]},{"id":"79801123.f0cab","type":"function","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"day change?","func":"msg.ts = new Date(parseInt(msg.payload));\nmsg.day = msg.ts.getDay()-1; //0 domingo,..,6 sábado\nif (msg.day < 0) {msg.day = 6} //0 lunes,..,6 domingo\n\nvar today = flow.get(\"today\")||{day:-1};\nmsg.dayChange = (today.day != msg.day );\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":720,"wires":[["d34c7fa3.2b94e8","f0b2f388.631438"]]},{"id":"d34c7fa3.2b94e8","type":"switch","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"","property":"dayChange","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":800,"wires":[["3e01cb36.e0a90c"],["858bf76b.97e588","53638d5d.c7fb2c"]]},{"id":"c83dd403.42bab","type":"file","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"Prog","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":704,"y":768,"wires":[[]]},{"id":"c5496ea1.6f466","type":"function","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"","func":"msg.payload = flow.get(\"today\");\nmsg.date = \"\" + msg.ts.getFullYear() + \"-\" +\n                (msg.ts.getMonth()+1) + \"-\" +\n                (msg.ts.getDate())\n                \nmsg.filename = env.get(\"IOT_DATA\")+\"/termostato/prog_\"+msg.date+\".json\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":720,"wires":[["c83dd403.42bab","f6bc519b.a1de78"]]},{"id":"f0b2f388.631438","type":"debug","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"dayChange?","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":680,"wires":[]},{"id":"f6bc519b.a1de78","type":"debug","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"debug prog.","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":620,"wires":[]},{"id":"53638d5d.c7fb2c","type":"debug","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"Salida no new Day","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":210,"y":860,"wires":[]},{"id":"2969e0e7.7dbeb8","type":"debug","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"setTargetTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":820,"wires":[]},{"id":"366b81c3.11f506","type":"inject","z":"bc4bb43.39904c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"IOT_DATA","payloadType":"env","x":220,"y":200,"wires":[["9dd7afdb.51f84"]]},{"id":"9dd7afdb.51f84","type":"debug","z":"bc4bb43.39904c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":220,"wires":[]},{"id":"7cbc053.b83e37c","type":"function","z":"bc4bb43.39904c8","name":"","func":"msg.payload = env.get(\"IOT_DATA\")+\"/termostato\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":320,"wires":[["f67e1b7.882abe8"]]},{"id":"17cb6947.9aee9f","type":"inject","z":"bc4bb43.39904c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":360,"wires":[["7cbc053.b83e37c"]]},{"id":"f67e1b7.882abe8","type":"debug","z":"bc4bb43.39904c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":340,"wires":[]},{"id":"7ba0e515.aadcac","type":"change","z":"bc4bb43.39904c8","name":"filename=diaPatron","rules":[{"t":"set","p":"payload","pt":"msg","to":"$env('IOT_DATA')+\"termo\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["f67e1b7.882abe8"]]},{"id":"12dd1786.73814","type":"inject","z":"bc4bb43.39904c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":540,"wires":[["7ba0e515.aadcac"]]},{"id":"cb92e165.1c15e","type":"function","z":"354011e5.cfbca6","name":"patrones.csv","func":"msg.file = \"patrones.csv\";\nmsg.filename = env.get(\"IOT_DATA\")+\"/termostato/\"+msg.file;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":200,"wires":[["3c3c6a23.ad207e"]]},{"id":"cb91cc44.f76588","type":"switch","z":"354011e5.cfbca6","name":"","property":"file","propertyType":"msg","rules":[{"t":"eq","v":"diaPatron.csv","vt":"str"},{"t":"eq","v":"patrones.csv","vt":"str"},{"t":"eq","v":"rangosTemp.csv","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":490,"y":120,"wires":[["3c3c6a23.ad207e"],["3c3c6a23.ad207e"],["3c3c6a23.ad207e"]]},{"id":"daedd81.a942928","type":"function","z":"bc4bb43.39904c8","name":"","func":"msg.file = \"patrones.csv\";\nmsg.filename = env.get(\"IOT_DATA\")+\"/termostato/\"+msg.file;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":520,"wires":[["5c5a649b.2de2c4"]]},{"id":"aa35fa02.f89f08","type":"inject","z":"bc4bb43.39904c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":710,"y":520,"wires":[["daedd81.a942928"]]},{"id":"5c5a649b.2de2c4","type":"debug","z":"bc4bb43.39904c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":620,"wires":[]},{"id":"893c154e.e7f208","type":"function","z":"354011e5.cfbca6","name":"diaPatron.csv","func":"msg.file = \"diaPatron.csv\";\nmsg.filename = env.get(\"IOT_DATA\")+\"/termostato/\"+msg.file;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["3c3c6a23.ad207e"]]},{"id":"6d4a21af.e8bd48","type":"function","z":"354011e5.cfbca6","name":"rangosTemp.csv","func":"msg.file = \"rangosTemp.csv\";\nmsg.filename = env.get(\"IOT_DATA\")+\"/termostato/\"+msg.file;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":340,"wires":[["3c3c6a23.ad207e"]]},{"id":"b78763e5.ba8f58","type":"comment","z":"354011e5.cfbca6","name":"forzar recarga","info":"","x":90,"y":300,"wires":[]},{"id":"261c7abe.769a56","type":"link in","z":"7fddfb51.6bbd1c","g":"bf665d9f.2572a8","name":"inGestorEstado","links":["b990349e.6a90a8"],"x":895,"y":700,"wires":[["d124fd53.f1084"]]},{"id":"b990349e.6a90a8","type":"link out","z":"7fddfb51.6bbd1c","name":"toGestorEstado1","links":["261c7abe.769a56"],"x":815,"y":160,"wires":[]},{"id":"1afcad1e.28c853","type":"comment","z":"7fddfb51.6bbd1c","name":"Al gestor de estado","info":"","x":930,"y":160,"wires":[]}]